<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Universidad de Colima</a>
</nav>
<section class="container-fluid">
  <div class=" col-12 jumbotron jumbotron-fluid mt-5">
    <div class="container">
      <h1 class="display-4">The current time is: {{ time.utc_datetime }}</h1>
      <p class="lead">Hello everyone, have a great day!</p>
    </div>
  </div>
  <div>
    <textarea [(ngModel)]="textIn" name="pali" id="" cols="30" rows="10"></textarea>
  </div>
  <input type="text" name="" id="" value="{{reversedText()}}">
  <p>Your text {{palindrome() ? "is" : "isn't"}} a palindrome!</p>
</section>